<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <th:block th:if="${errorMsg}">
        <p style="color:red" th:text="${errorMsg}"></p>
    </th:block>
    <form action="/user/add" method="POST">
        <label>Name:</label>
        <input th:field="${user.username}">

        <label>email:</label>
        <input type="email" th:field="${user.email}">

        <label>Password:</label>
        <input type="password" th:field="${user.password}">

        <label>Re-enter password:</label>
        <input type="password" th:name="verify">

        <input type="submit" value="Submit">
    </form>

</body>
</html>