<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method = "post" action="/menu">
    Name: <br> 
    <input type = "text" name = "name"> 
    <br>Skin type: <br> 
    <select name = "skintype"> 
        <option value = "oily">Oily</option> 
        <option value = "combination">Combination</option> 
        <option value = "normal">Normal</option> 
        <option value = "dry">Dry</option> 
        </select>
    <br>Manicure or Pedicure? <br> 
    <select name = "manipedi"> 
        <option value = "Manicure">Manicure</option>
        <option value = "Pedicure">Pedicure</option>
        <option value = "Manipedi">Manipedi</option>
    </select><br>
    <input type = "submit" value = "Submit"> 
    </form>
</body>
</html>